code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
  }
  
table, th {
  border: .5px solid;
  border-color: black;
}

.ulMenue {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}



.liMenue a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.liMenue a:hover {
  background-color: #111;
}

.css-question {
  font-weight: bold;
 
  font-family: Helvetica;
}

.js-question {
  font-weight: bold;
  
  font-family: Helvetica;
}

p {
  font-family: Helvetica;
  font-weight: lighter;

}

h1 {
  font-family: Helvetica;
}

h2 {
  font-family: Helvetica;
}

a {
  font-family: Helvetica;
}

table {
  font-family: Helvetica;
}