<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            My Web Page
        </title>
        <link rel="stylesheet" href="myStyle.css">
        <link rel="icon" href="resources/favicon.svg" type="image/svg+xml">
    </head>

    <body>
        <nav class="menue">
            <ul>
                <li>
                    <a href="index.html">
                        HOME
                    </a>
                </li>
                
                <li>
                    <a href="views/three.html">
                        Page Three
                    </a>
                </li>
            </ul>
        </nav>

        <h1>Favorite Coding Resources</h1>
        <table>
            <caption>
                Coding Resources
            </caption>
            <thead>
                <tr>
                    <th>
                        Coding Resources
                    </th>
                    <th>
                        Link
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        3wschools
                    </th>
                    <th>
                        <a href="https://www.w3schools.com/">
                            https://www.w3schools.com/ </a>
                    </th>
                </tr>
                <tr>
                    <th>
                        Flutter
                    </th>
                    <th>
                        <a href="https://flutter.dev/"> https://flutter.dev/</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        Udemy
                    </th>
                    <th>
                        <a href="https://www.udemy.com/">
                            https://www.udemy.com/</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </body>

</html>